#footer {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.bug-table-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
}

.bug-error {
    display: none;
}

th {
    text-align: left;
}

#settings-trigger {
    text-decoration: underline;
}

.settings-dialog {
    display: none;
}

.ui-menu {
    width: 200px;
}
