body {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
    margin-top: 1em;
}

.bug-container {
    margin-top: 2em;
}

.bug-table-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
}

.reload-button {
    cursor: pointer;
}

.loading {
    opacity: 0.33;
    cursor: not-allowed;
}

.bug-table-body>.bug-table-row>td {
    border-top: thin solid;
}

.bug-error {
    display: none;
}

.bug-id {
    min-width: 8em;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
}

.modal-dialog {
    display: none;
}

.dialog-element {
    margin-top: 1em;
}

.ui-menu {
    width: 15em;
}

.help-link {
    cursor: help;
}

.query-remove {
    margin-left: 1em;
}
